@charset "utf-8";

/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {background:#f0f0f0; padding:0; margin:0; font-family: 'Roboto', sans-serif !important;}
img {max-width:100%;}
margin{*0;}
header {
    background: #fff;
    padding: 27px 0;
}
.login-div a {
    color: #bbb;
    background: #fff;
    border-radius: 28px;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 0px;
    display: inline-block;
    text-transform: uppercase;
    width: 72px;
    height: 25px;
    text-align: center;
}
.header-search-form {
    text-align: right;
}
section.top-header {
    padding: 5px 0;
}
.top-navigation {
    float: right;
}
.top-navigation .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;     padding-bottom: 3px;
}
.top-navigation .navbar-nav li:last-child {padding-right:0!important;}

.top-navigation  a.nav-link {
    color: #00648c;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}
.top-navigation li.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}
/*===============================scrollbar css*/
    /*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
/*************** SCROLLBAR MAC OS X ***************/
.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-macosx > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.scrollbar-macosx > .scroll-element .scroll-element_track { display: none; }
.scrollbar-macosx > .scroll-element .scroll-bar {
    background-color: #197097;
    display: block;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}


.scrollbar-macosx > .scroll-element.scroll-x {
    bottom: 0px;
    height: 0px;
    left: 0;
    min-width: 100%;
    overflow: visible;
    width: 100%;
}

.scrollbar-macosx > .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    right: 0px;
    top: 0;
    width: 0px;
}

/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar { height: 7px; min-width: 10px; top: -9px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar { left: -9px; min-height: 10px; width: 7px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer { left: 2px; }
.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size { left: -4px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer { top: 2px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size { top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -11px; }
.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -11px; }
/*============== end===============*/

.top-navigation li.nav-item a:hover { color: #f92156; }
.top-navigation li.nav-item a { position:relative; }
.top-navigation li.nav-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f92156;
    transition: width .3s;
    top: 100%;
    position: absolute;
    left: 0;
}
td.input-label {
    width: 33%;
}
.button-div {
    clear: both;
    border-top: 1px solid #ddd;
    padding-top: 33px;
    text-align: center;
    padding-bottom: 15px;
}
span.error-message {
    font-size: 13px;
    color: #e73c37;
}
.button-div a {
    border: 1px solid #00618c;
    padding: 13px;
    display: inline-block;
    width: 400px;
    height: 58px;
    vertical-align: middle;
    font-size: 20px;
    color: #00618c;
    font-weight: 400;
    border-radius: 60px;
    margin: 0 13px;
}
.button-div a:hover { text-decoration:none;}
.button-div a:last-child { background:#afcedb;}
.eco-investment-div td:nth-child(3){
    width: 16%;
}
.top-navigation li.nav-item a:hover::after {
    width: 100%;
}
.top-navigation li.nav-item.active a.nav-link {
    border-bottom: 2px solid #f92156; color: #f92156;
}
span.center-text {
    padding-left: 18px;
}
.banner-img {
    position: relative;
    height: 430px;
}
.top-navigation nav.navbar.navbar-expand-lg {
    padding: 0;
}
.header-search-form i {
    color: #fa283c;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}
.banner-content {
    position: absolute;
    top: 73px;
}
.banner-content h1 {
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 29px;
}
.banner-content h1 span {
    display: block;
}
.banner-content a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    display: table-cell;
    border: 1px solid #fff;
    width: 225px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    border-radius: 90px;
    /* margin-top: 20px; */
}

.banner-content a:hover { background:#00618C;}

#home-banner .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: rgba(255, 255, 255, 0.6);
    display: block; border:1px solid #fff;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
#home-banner .owl-dots .owl-dot.active span {background:#fff;}
#home-banner button:focus {
    outline: none;
}
#home-banner .owl-dots {
    position: absolute;
    bottom: 64px;
    left: 125px;
}
.heat-to-cold {
    background: #fff;
    padding: 25px;
}

section.convert-heat-to-cool {
    padding: 35px 0;
}
.heat-to-cold img {
    max-width: 36px;
    vertical-align: top;
    margin-top: -11px;
}
.heat-to-cold h1 {
    font-weight: 700;
    color: #00618c;
    font-size: 40px;
}
.heat-to-cold h1 {
    font-weight: 700;
    color: #00618c;
    font-size: 35px;
    padding-top: 10px;
    padding-left: 38px;
    background: url(../images/flake.png);
    background-repeat: no-repeat;
    width: 70%;
    background-position: top left;
}
.heat-to-cold p {
    color: #00648c;
    line-height: 28px;
}
.heat-to-cold a:hover {background: #00618c; color:#fff;}
.heat-to-cold a {
    color: #00618c;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    display: table-cell;
    border: 1px solid #00618c;
   width: 200px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    border-radius: 90px;
    /* margin-top: 20px; */
}
.service-box-content h3 {
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    line-height: 40px;
    background: url(../images/flake.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 40px;
}
.service-box-content {
    position: absolute;
    top: 0%;
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background: rgba(67,172,225,0.8);
    padding-top: 70px;
    padding-left: 18px;
    padding-right: 20px;
}
.services-boxes {
    position: relative;
    height: 240px;
    margin-bottom: 30px;
}
.services-boxes img {
    width: 100%;
    height: 100%;
}
.german-inner-section {
    background: #fff;
    padding: 50px 40px;
}
.german-data h1 {
    color: #00648c;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
}
.german-data p {
    color: #00648c;}

.german-data a {
    color: #00618c;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    display: table-cell;
    border: 1px solid #00618c;
    width: 129px;
    height: 44px;
    text-align: center;
    vertical-align: middle;
    border-radius: 90px;
}
.german-data a:hover { background:#00618c; color:#fff;}
.bottom-div-content {
    padding-top: 50px;
}
.alles-ber {
    background: url(../images/bg_concrete.jpg);
    padding: 70px 0;
    text-align: center;
    margin-bottom: 30px;
}
.alles-ber h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
}
.right-list-content h3 span {
    font-size: 15px;
    font-weight: 400;
}

.alles-ber h2 span { display:block;}


section.german-data {
    padding-bottom: 30px;
}

.alles-ber a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    border: 1px solid #fff;
    width: 200px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    border-radius: 90px;
    margin: 15px 0 0 0;
    line-height: 51px;
}

.alles-ber a:hover { background:#fff; color:#000;}

footer {
    background: #fff;
    padding: 51px 0 20px;
}
.footer-section1 img {
    max-width: 60px;
    width: 100%;
    vertical-align: middle;
    margin-top: -17px;
    margin-right: 7px;
}
.footer-section1 h5 {
    color: #00648c;
}
footer a{ color:#00648c;}
footer p{ color:#00648c; font-size:14px;}
.footer-section1 p {
    margin-top: 20px;
    font-size: 14px;
}
.footer-section1 h5 {
    color: #00648c;
    font-size: 15px;
}
footer h3 {
    color: #f92156;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
}
.footer-nav li:first-child a {
    color: #f92156;
}
ul.footer-nav {
    padding: 0;
    list-style: none;
    margin: 0;
}
.footer-nav li a {
    color: #00648c;
    font-weight: 500;
    font-size: 14px;
}
.footer-nav li {
    padding: 1px 0;
}
.footer-section4 {
    margin-top: -10px;
}
.footer-nav li:first-child { padding-top:0;}
section.copyrite {
    text-align: center;
    padding: 17px 0;
}
section.copyrite p {
    margin: 0;
    font-size: 13px;
    color: #00618c;
    font-weight: 500;
}

section.copyrite p a { color:#00618c;}

.footer-section3 img {
    margin-top: 10px;
    margin-left: 28px;
}
.login-div {
    float: left;
}
.language-change-div {
    float: left; padding-left: 7px;
}
.language-change-div a {
    color: #bbb;
    font-size: 14px;
    font-weight: 500;
    padding: 0 3px;
}
.language-change-div a.active { color:#f8283c;}

/* adcalc page css */
.breadcrumbs .breadcrumb-item a {
    color: #f8283c;
    font-size: 14px; vertical-align:top;
}
.breadcrumbs .breadcrumb-item.active { color:#00618c; font-size:14px;}
.breadcrumbs .breadcrumb-item+.breadcrumb-item::before {
    content: "\f105";
    font-family: FontAwesome; color:#fa283c;
}
.breadcrumbs .breadcrumbs .breadcrumb-item{
    font-size: 14px;
}
.breadcrumbs ol.breadcrumb {
    background: transparent;
    margin: 0; padding-left:0; padding-right:0;
}
.adcalc-inner-content {
    background: #fff;
    padding: 15px 15px 0px;
}
section.adcalc-content {
    padding-bottom: 30px;
}
.left-icon-list li {
    display: inline-block;
    padding: 0 3px; cursor: pointer;
}

.right-icon-list li {
    display: inline-block;
    padding: 0 3px; cursor: pointer;
}
td.form-submitbtn {
    text-align: center;
    padding-top: 15px!important;
}
.form-submitbtn button.btn {
    width: 187px;
    color: #00618c;
    border-radius: 0;
    border: 1px solid #a5a5a5;
    font-weight: 500;
    font-size: 14px;
}

#login-modal {background:transparent; z-index:9999;}
ul.list-inline.right-icon-list {
    text-align: right;
    margin: 0;
}
ul.list-inline.left-icon-list {
    margin: 0;
}
.icon-area {
    margin-bottom: 25px;
}
.general-information {
    background: url(../images/gb1.jpg);
    }
.data-box { background-position: right!important;
    background-size: cover!important;
    padding: 20px; position: relative; margin-bottom:30px;
    min-height: 242px;
	    transition: all 0.4s linear 0s;
    -webkit-transition: all 0.4s linear 0s;
	}
.bootom-data-box h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
h5.input-required {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-top: 61px;
    text-align: center;
}
.fahrenheit-system-box.data-box {
    min-height: 514px;
}
.economic-data {
    background: url(../images/gb2.jpg);
}
ul.price-listt {
    position: absolute;
    bottom: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.options {
    background: url(../images/gb3.jpg);
}
.heat-sources {background: url(../images/gb4.jpg);}
.heating-load-profiles  {
    background: url(../images/gb5.jpg);
}
.fahrenheit-system-box { background: url(../images/gb8.jpg);}
.compression-chillers  {
    background: url(../images/gb6.jpg);
}
.cooling-load-profiles {    background: url(../images/gb7.jpg);}
.price-listt p {
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.price-listt h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: Roboto;
    text-transform: capitalize;
}
.price-listt h3 span {
    font-weight: 400;
    font-size: 16px; text-transform: lowercase;
}
.fahrenheit-system-box h5.input-required {
    padding-top: 190px;
    width: 69%;
    margin: 0 auto;
}
.edit-icon {
    float: right;     cursor: pointer;
}
.main-hover-box h1 {
    float: left;
}
.main-hover-box  img {
    vertical-align: top;
}
.main-hover-box p {
    clear: both;
    color: #fff;
    font-size: 14px;
}
.main-hover-box {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display:none;
    left: 0;
    background: #0387c3;
    padding: 20px;
}
.data-box:hover .main-hover-box {display:block;}
.add-icon {
    position: absolute;
    bottom: 13px;
    right: 13px; cursor:pointer;
}
.option-hover .right-list-content {
    float: right;
}

.options-hover ul.price-listt {
    float: left;
}
ul.right-list-content {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 151px;
}
#message-popup-modal p {
    /* text-align: center; */
    width: 88%;
    /* margin: 0 auto; */
    color: red;
    line-height: 25px;
    font-size: 15px;
}
#message-popup-modal ul li {
    color: red;
    line-height: 25px;
    font-size: 14px;     list-style-position: inside;
}
#message-popup-modal ul { margin-left:0; padding-left:0;}
#message-popup-modal .modal-body-content {
    padding: 30px 34px 0;
}

#message-popup-modal .modal-content {
    padding: 10px 20px 50px;     width: 448px;}
#message-popup-modal {
    z-index: 9999!important;
    background-color: transparent;     padding-top: 12%;
}
.right-list-content p {
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.right-list-content h3 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto;
}
.general-info-hover p {
    padding-top: 60px;
}

.heat-sources-hover p {
    padding-top: 40px;
}
#login-modal .modal-content {
    padding: 10px 10px;
    width: 340px;
    border-radius: 0;
}
#login-modal .form-group input {
    height: 40px;
    border: 1px solid #eeeef3;
    border-radius: 60px;
    font-size: 13px; font-weight:500;
    padding: 10px 20px;     color: #00618c;
    width: 100%; outline:none;
}

.close-div {
    text-align: right;
}
.left-head.center-data {
    float: none;
    text-align: center; font-size: 30px; line-height:30px;
}
.heating-load-hover p {
    padding-top: 20px;
}
.login-btn button.btn {
    background: transparent;
    border: 1px solid #00648c;
    border-radius: 70px;
    font-size: 14px;
    color: #00648c;
    width: 174px;
    font-weight: 500;
    height: 40px;
}
.login-btn {text-align:center;}
 .login-btn .btn:focus {
    outline: 0;
    box-shadow: none;
}
.compression-chillers-hover  p {
    padding-top: 25px;
}
.cooling-load-hover  p {
    padding-top: 45px;
}

.fahrenheit-system-hover p {
    padding-top: 20px;
}

 /* The Modal (background) */
      .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding: 5% 0; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
        }
		#calender-popup .modal-content { width:80%; }
#calender-popupp .modal-content { width:80%; }
        /* Modal Content */
      .modal-content {
            background-color: #fff;
            margin: auto;
            padding: 10px 20px 20px;
            border: 1px solid #888;
            width: 600px;
        }

        /* The Close Button */
      .close {
           opacity:1;
            float: none;
        }

 .close:hover,
    .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }


.left-head {
    float: left;
    color: #00618c;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;
}
.right-head {
    float: right;
}

.right-head ul li {
    float: left;
    padding: 0 5px;
}
.modal-body-content #tabsJustified ul li.nav-item {
    width: 50%;
}
.modal-body-content {
    padding-top: 27px;
}
.modal-body-content a.nav-link {
    color: #00618c;
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center; text-transform:uppercase;
}

.modal-body-content .table td, .modal-body-content .table th {
    border-top: none;
    vertical-align: middle;
    padding: 5px;
}
td.input-label {
    color: #00618c;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.input-fields input {
    color: #00618c;
    font-weight: 400;
    font-size: 14px;
    padding: 5px 10px;
    height: 37px; outline:none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00618c;
}
.input-fields input::placeholder {
    color: #00618c;
    opacity:1;
}
#login-modal .form-group input::placeholder {
    color: #00618c;
    opacity:1;
}
td.input-help-label {
    padding-right: 0;
    text-align: right;
    padding-left: 0;
    width: 10%;
}

.modal-body-content .tab-pane {
    padding-top: 25px;
}
.popover { background-color: #00618c; font-family:Roboto;}

.popover-body {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto;
}
.input-help-label button {
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer; outline:none;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-bottom .arrow::after {     border-bottom-color: #00618c;}

.input-fields i {
    position: absolute;
    right: 23px;
    font-size: 19px;
    top: 14px; color:#00618c;
}

td.input-fields {
    position: relative;
}
input.required-field {
    border-color: red;
}
h3.inner-table-heading {
    color: #00618c;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px; margin:0;
}

.modal-body-content #tabsJustified1 li.nav-item {
    width: 25%;
}

.eco-chp-data-div td.input-label {
    width: 40%;
}
.chp-base {
    width: 18%;
}

.caculator-divv {
    display: none;
}
.calci-div {
    position: absolute;
    top: 102px;
    width: 250px;
    right: -54px;
    background: #fff;
    border: 1px solid #00618c;
    padding: 15px;
    /* z-index: 9; */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.calci-div input#input {
    width: 100%;
    margin-bottom: 11px;
    border: 1px solid #00618c;
    padding: 5px 10px;
    outline: none;
}

.calci-div button {
    background: transparent;
    border: 1px solid #ddd;
    /* margin: -1px; */
    padding: 0;
   width: 37px;
    height: 43px;
    margin-left: -1px;
    margin-bottom: -1px;
}
.eco-investment-div .input-label i {
    font-size: 20px;
    vertical-align: middle;
    padding: 0 3px;
}
.eco-investment-div tr td:first-child {
    width: 35%;
}

#contact-form-modal {
    z-index: 9999!important;
	  background-color: transparent;
}

.input-fields textarea {
    color: #00618c;
    font-weight: 400;
    font-size: 14px;
    padding: 5px 10px;
    height: 93px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00618c;
    resize: none;
}
td.input-label.text-area-label {
    vertical-align: top;
    padding-top: 10px;
}

.edit-divv {
    display: inline-block;
}
.delete-divv {
    display: inline-block;
}
.modal .table {
    margin-bottom: 0;}


.new-row-addition {
    float: right;
    color: #00618c;
    font-size: 29px;
    padding-right: 12px;
}
.add-new-row {display:none;}
.eco-maintenance-div .input-label i {
    font-size: 20px;
    vertical-align: middle;
    padding: 0 3px;
}

#tabsJustified li.nav-item {
    width: 50%;
}


#tabsJustified2 li.nav-item {
    width: 50%;
}

.input-fields ul li {
    float: left;
    padding: 0 3px;
}
.input-fields select {
    color: #00618c;
    font-weight: 400;
    font-size: 14px;
    padding: 5px 10px;
    height: 37px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00618c;
    appearance: none;
    background: url(../images/select-arrow.png);
    background-repeat: no-repeat;
    -webkit-appearance: none; -moz-appearance: none;
    background-position: 96% 50%;
}

.heating-load-general-div .input-fields ul li:first-child {
    width: 43%;
    vertical-align: middle;
}
.heating-load-general-div .input-fields ul li {padding:0;}
.heating-load-general-div .input-fields ul li:nth-child(2) {
    width: 14%;
    font-size: 14px;
    color: #00618c;
    text-align: center;
    vertical-align: middle;
    padding-top: 7px;
}

.heating-load-general-div .input-fields ul li:last-child {
    width: 43%;
}
.additional-options {
    color: #e73c37;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}

select.required-field {
    border-color: red;
}
.modal-body-content a.nav-link.active {
    border-top-right-radius: 30px 62px;
    border-color: #005986;
    border-bottom: transparent;
    border-top-left-radius: 9px 14px;
    border-width: 2px;     color: #00618c;
}
.modal-body-content a.nav-link {
    border-top-right-radius: 30px 70px;
    border-bottom: transparent;
    border-top-left-radius: 9px 14px;
    border-width: 2px; background:#99bdcf; color:#fff;
}
 .modal-body-content .nav-tabs .nav-link:hover {
    border-color: transparent;  border-width: 2px;

}
.modal-body-content a.nav-link.active:hover {
    border-color: #005986;  border-width: 2px;

}
.modal-body-content .nav-tabs .nav-link:focus {   outline: none;}
#tabsJustifiedlast li.nav-item {
    width: 50%;
    position: relative;
}

.chiller-div td p {
    margin: 0;
    font-size: 14px;
    color: #00618c;
    text-align: center;
    font-weight: 500;

    width: 78%;
}
.chiller-div li {
    display: inline-block;
    color: #1e749a;
    font-size: 25px;
    padding: 0 7px;
    vertical-align: top;
    font-weight: 300; line-height: 20px;
}
.chiller-div table td:last-child {
    text-align: right;
    vertical-align: top;
}
.recooling-system-data-div table td:last-child {
    text-align: right;
    vertical-align: top;
}
.chiller-div ul.list-inline {
    margin: 0;
    vertical-align: top;
}
.recooling-system-data-div ul.list-inline {
    margin: 0;
    vertical-align: top;
}
#tabsJustifiedlast li.nav-item img.modal-openn {
    position: absolute;
    left: 7px;
    font-size: 30px;
    color: #00618c;
    top: 4px;
}

#tabsJustifiedlast li.nav-item a img {
    float: right;
    width: 30px;
    /* height: 27px; */
    background: #00618c;
    border-radius: 50%;
    /* line-height: 26px; */
    text-align: center;
    font-size: 14px;
    /* padding: 0 7px; */
    margin-top: -6px;
    color: #fff;
}
#tabsJustifiedContentt td.input-label {
    width: 28%;
    padding-left: 0;
    padding-right: 0;
}
.nav-tabs .nav-item {
  width: 50%;
}
#tabsJustifiedContenttt td.input-label {
    width: 35%;
}

.recooling-system-data-div td p {
    margin: 0;
    font-size: 14px;     width: 78%;
    color: #00618c;
    text-align: center; font-weight:500;
}
.chiller-div li:last-child {
    padding-right: 21px;
}
.recooling-system-data-div li:last-child {
    padding-right: 21px;
}
.recooling-system-data-div li {
    display: inline-block;
    color: #00618c;
    font-size: 25px;
    padding: 0 7px;
    vertical-align: top; line-height: 20px;
}
.recooling-system-data-div ul.list-inline {
    text-align: right;
}
#cooling-technical-data .calci-div {
    top: 56%;
    right: 12%;}

#heating-technical-data .calci-div {
    top: 51%;
    right: 12%;}


#tabsJustifiedlast .calci-div {
    top: 45px;}

.modal-body-content .nav-tabs .nav-item {
    margin-bottom: -3px;  position:relative;
}


.modal-body-content li.nav-item a::after {
    content: "";
    position: absolute;
    background: #00618c;
    width: 101%;
    display: block;
    height: 2px;
    bottom: 0;
    left: -2px;
}
.modal-body-content li.nav-item a.active::after {
   visibility:hidden;
}

.hover-list .table td{
    padding: 1px 0;
    vertical-align: top;
    border-top: none;
    color: #fff;
    font-size: 14px;     letter-spacing: 0.5px;
    font-weight: 400; text-align:right;
}

.hover-list .table th {
    padding: 1px 0;
    vertical-align: top;
    border-top: none;
    color: #bfe0ee;
    font-size: 14px;     letter-spacing: 0.5px;
    font-weight: 400; text-align:left;
}

.hover-list {
    padding-top: 3px;
    clear: both; height: 137px;
}
.hover-list table td span {
    font-size: 20px;
    padding: 0 4px;
}

.hover-list table ul li {
    display: inline-block;
    padding: 0 8px 0 0;
    color: #fff;
}
.hover-list table ul {margin:0; padding:0;}
.hover-list h3 {
    font-size: 14px;
    color: #bfe0ee;
    margin: 0 0 6px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* The container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: transparent;
    border: 4px solid #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 top: -1px;
    left: -1px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: red;
}


.fahrenheit-system-hover .hover-list table td span {
    font-size: 20px;
    padding: 0 2px;
}
.fahrenheit-system-hover .hover-list .table td {
    padding: 2px 3px;
    vertical-align: top;
    border-top: none;
    color: #fff;
    font-size: 12.5px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-align: left;
}


.manual-sysytemm {
    background: #5ca5c5;
    padding: 10px 20px;
    margin: 0 -20px;
}
.manual-sysytemm table {
    margin: 0;
}

h6.note-textt {
    color: #bfe0ee;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding-top: 13px;
}

.clone-system {
    display: none;
}

.modal.loginmodal {
	z-index:9999;}


.loginmodal .modal-content {
    width: 350px;
    border-radius: 0;
    border: none;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.7);
}




/*====================media query=====================*/

@media (min-width:992px) and (max-width:1200px) {
.top-navigation a.nav-link {
    font-size: 14px;
}
.top-navigation li.nav-item {
    padding-left: 7px;
    padding-right: 7px;
}
.jqyc-month {
    width: 28%;
}
.service-box-content h3 {
    font-size: 27px;
    line-height: 33px;
}
.german-data h1 {
    font-size: 33px;
    margin-bottom: 10px;
}
.alles-ber h2 {
    font-size: 36px;

}

}
@media (min-width:768px) and (max-width:991px) {

.service-box-content h3 {
    font-size: 19px;

    line-height: 23px;}

.services-boxes {
    height: 165px;
}
.service-box-content {
    padding-top: 50px;}
	german-data h1 {
    font-size: 25px;
    margin-bottom: 10px;
}
.alles-ber h2 {
    font-size: 25px;
    line-height: 30px;
}
.alles-ber a {
    font-size: 14px;
    width: 183px;
    height: 44px;
    line-height: 42px;
}
.german-data h1 {
    font-size: 25px;
}
footer {
    text-align: center;
}
.data-box {
    background-position: right bottom!important;}

	.navbar-toggler {
    text-align: center;
    margin: 20px auto 0;
    background: #eee;
    width: 100%;
}
span.navbar-toggler-icon::after {
    content: "Menu";
    position: absolute;
    color: #00618c;
    left: 11px;
    top: 31px;
    font-size: 18px;
}

.navbar-toggler:after {
    position: absolute;
    content: "\f0c9";
    /* top: 13px; */
    right: 15px;
    font-family: FontAwesome;
    font-size: 20px;
    color: #00618c;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-weight: bold;
    margin-top: 6px;
}
.top-navigation {
    width: 100%;
}
.header-logo {
    text-align: center;
}




	}
@media (min-width:577px) and (max-width:767px) {
	footer {
    text-align: center;
}
.banner-img {
    height: auto;
}
.banner-content {
    top: 40px;
}
.banner-content h1 {
    font-size: 25px;
    margin-bottom: 10px;
}
#home-banner .owl-dots {
    position: absolute;
    bottom: 14px;
    left: 33px;
}
.services-boxes {
    height: 185px;}
.footer-section2 {
    padding: 15px 0;
}
.service-box-content h3 {
    font-size: 23px;
    line-height: 29px;
}
.footer-section4 {
    padding-top: 15px;
}
.navbar-toggler {
    text-align: center;
    margin: 20px auto 0;
    background: #eee;
    width: 100%;
}
.service-box-content {
    padding-top: 59px;

}
.alles-ber h2 {
    font-size: 32px;
}
.alles-ber a {
    margin: 15px 0 35px 0;}
span.navbar-toggler-icon::after {
    content: "Menu";
    position: absolute;
    color: #00618c;
    left: 11px;
    top: 31px;
    font-size: 18px;
}

.navbar-toggler:after {
    position: absolute;
    content: "\f0c9";
    /* top: 13px; */
    right: 15px;
    font-family: FontAwesome;
    font-size: 20px;
    color: #00618c;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-weight: bold;
    margin-top: 6px;
}
.top-navigation {
    width: 100%;
}
.header-logo {
    text-align: center;
}
.modal-content {
    width: 560px;
}
.modal-body-content a.nav-link {

    font-size: 13px;
    padding: 10px 7px;
}
#calender-popupp .modal-content {
    width: 95%;
}
#calender-popup .modal-content {
    width: 95%;
}
.jqyc-month {
    width: 42%!important;
    min-height: 225px !important;
}
.input-fields input {
    padding: 5px 5px;}

	.input-fields select {
    padding: 5px 5px;}

	#tabsJustifiedlast li.nav-item img.modal-openn {
    left: 4px;}

	#tabsJustifiedlast li.nav-item a img {
    margin-top: -6px;
    margin-right: 4px;
}
#tabsJustifiedlast .calci-div {
    right: 0;
}
.calci-div {
    right: 10px;
}
.eco-investment-div .input-label i {
    font-size: 18px;
    padding: 0 0px;
}
.footer-section4 {
    padding-top: 20px;
}
ul.navbar-nav.mr-auto {
    padding-top: 20px;
}
.data-box {
    background-position: right bottom!important;}
	.footer-section4 {
    margin-top: 0px;
}
}
@media (max-width:576px) {
.top-navigation {
    float: left;
    width: 100%;
}
#message-popup-modal .modal-content {
	   width: 90%;}
.modal .nav-tabs {
    border-bottom: none;
}
.right-list-content h3 {
    font-size: 14px;
}
.input-fields ul li {
    padding: 0 2px;
}
.input-fields ul li img {
    max-width: 26px;
}
.data-box {
    background-position: right bottom!important;}
.adcalc-inner-content {
    padding: 8px;
}
.hover-list .table td {
    font-size: 13px;}
	.hover-list table td span {
    font-size: 15px;
    padding: 0 2px;
}
.main-hover-box {
    padding: 10px;
}
.data-box {
    padding: 10px;}
	.hover-list .table th {
    font-size: 13px}
ul.navbar-nav.mr-auto {
    padding-top: 20px;
}
.bootom-data-box h1 {
    font-size: 18px;
}
.price-listt h3 {
    font-size: 18px;
}
.hover-list h3 {
    font-size: 13px;
    margin: 0 0 4px;
}
.fahrenheit-system-hover .hover-list table td span {
    font-size: 10px;
    padding: 0 1px;
}
.edit-optionss img {
    max-width: 12px;
    width: 100%;
}
.checkmark {
    height: 12px;
    width: 12px;
}
.radio-container .checkmark:after {
    top: -2px;
    left: -2px;
    width: 8px;
    height: 8px;
}
.manual-sysytemm {
    margin: 0 -10px; padding: 10px 5px;
}
.fahrenheit-system-hover .hover-list .table td {
    padding: 2px 2px;}
h6.note-textt {
    font-size: 13px;
}
.banner-img {
    height: auto;
}
.heat-to-cold h1 {
    font-size: 25px;
    padding-top: 0;
    width: 100%;
}
.footer-section2 {
    padding: 15px 0;
}
.service-box-content h3 {
    font-size: 27px;
    line-height: 32px;
}
.services-boxes {

    height: 190px;
}
.service-box-content {
    padding-top: 50px;}
.input-fields i {
    right: 5px;
    top: 21px;
}
.german-data h1 {
    font-size: 22px;
}
.alles-ber h2 {
    font-size: 33px;
    line-height: 35px;
}
.banner-content {
    top: 10%;
}
.banner-content h1 {
    font-size: 20px;
    margin-bottom: 9px;
}
.banner-content a {
    font-size: 15px;
    width: 155px;
    height: 43px;

}
.heat-to-cold {
    padding: 20px;
}
.german-inner-section {

    padding: 20px 20px;
}
.footer-section4 {
    padding-top: 20px;
}
#home-banner .owl-dots {
    bottom: 0;
    left: 10px;
}
#calender-popupp .modal-content {
    width: 97%;
}
#calender-popup .modal-content {
    width: 97%;
}
#calender-popup .modal-body-content {
    padding-top: 0;
}
#calender-popupp .modal-body-content {
    padding-top: 0;
}
.jqyc-month {
    width: 100%!important;
    margin: 20px 0px 0!important;
    min-height: 198px;
}
.top-navigation .navbar-expand-lg .navbar-nav .nav-link {
    padding-bottom: 6px;
    padding-top: 6px;
}
.navbar-toggler {
    text-align: center;
    margin: 20px auto 0;
    background: #eee;
    width: 100%;
}
span.navbar-toggler-icon::after {
    content: "Menu";
    position: absolute;
    color: #00618c;
    left: 11px;
    top: 31px;
    font-size: 18px;
}

.navbar-toggler:after {
    position: absolute;
    content: "\f0c9";
    /* top: 13px; */
    right: 15px;
    font-family: FontAwesome;
    font-size: 20px;
    color: #00618c;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-weight: bold;
    margin-top: 6px;
}
/*.navbar-toggler.collapsed:after {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}*/

.modal-content {
    width: 97%;
}
.header-logo {
    text-align: center;
}
ul.list-inline.left-icon-list {
    text-align: center;
}
ul.list-inline.right-icon-list {
    text-align: center;
    margin: 13px 0 0;
}
td.input-help-label {
    padding-left: 0;
}
td.input-label {
    padding-left: 0!important; padding-right: 0!important; font-size:13px;
}
td.input-fields {
   padding-left: 0!important; padding-right: 0!important;
}
.left-head {
    width: 100%;
    text-align: center;
}
.right-head {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.right-head ul li {
    float: none;
    display: inline-block;
    vertical-align: top;
}
.modal-body-content {
    padding-top: 10px;
}
.modal-content {
    padding: 10px;}

	#login-modal .modal-content {
    width: 305px;}

.modal-body-content a.nav-link {
    font-size: 12px;
    padding: 8px 0px;   border-top-right-radius: 30px 80px;
}


footer {
    text-align: center;
}


.input-fields select {
    padding: 5px 28px 5px 5px;}

.input-fields input {
    padding: 5px 5px; font-size:13px;}

.modal-body-content #tabsJustified1 li.nav-item {
    width: 50%;
    margin: 2px 0;
}
.eco-investment-div tr td:first-child {
    width: 53%;
    display: block;
    float: left;
}
.eco-investment-div tr td:nth-child(2) {
    width: 47%;
    display: block;
    float: left;
}
.eco-investment-div tr td:nth-child(3) {
  width: 53%;
    display: block;
    float: left;
}
.eco-investment-div tr td:last-child {
    width: 47%;
    display: block;
    float: left;
}
.eco-investment-div .input-label i {
    font-size: 18px;
    padding: 0 0px;
}
.eco-maintenance-div tr td:first-child {
    width: 43%;

}
.eco-maintenance-div tr td:last-child {
    width: 37%;
}
.eco-maintenance-div .input-label i {
    font-size: 18px;
    padding: 0 0px;
}


.calci-div {
    right: 20px;
}

#tabsJustifiedlast li.nav-item {
    width: 100%;
    margin: 1px 0;
}
#tabsJustifiedlast li.nav-item img.modal-openn {
    left: 4px;
    top: 5px;
}

.chiller-div li {
    font-size: 21px;
    padding: 0 3px;
    text-align: center;
}
.modal-body-content #tabsJustifiedlast a.nav-link {
    padding: 10px 14px;
}
.recooling-system-data-div li {
    font-size: 20px;
    line-height: 20px;
}


.heating-load-general-div td.input-label {
    width: 38%;
}
.heating-load-general-div td.input-help-label {
    padding-left: 0;
    width: 12%;
}
.heating-load-general-div .input-fields ul li:first-child {
    width: 100%;
}
.heating-load-general-div .input-fields ul li:nth-child(2) {
    width: 100%; padding-top: 3px;

}
.heating-load-general-div .input-fields ul li:last-child {
    width: 100%;
    position: relative;
}
.heating-load-general-div .input-fields li i {
    right: 8px;
    top: 9px;
}
.project-specifications li.nav-item:first-child {
    width: 34%!important;
}
.project-specifications li.nav-item:last-child {
    width: 66%!important;
}
.option-general-div td.input-help-label {
    width: 12%;
}
.personal-data-div td.input-help-label {
    width: 12%;
}
.footer-section4 {
    margin-top: 0px;
}
}
.drag-handler {
  cursor: move;
}
.modal-backdrop.show{
    opacity: 0;
}
.disabled{
    color:grey !important;
    pointer-events: none;
}

.disableCard {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    pointer-events: none;
}






